<?xml version="1.0" encoding="UTF-8"?>
<persistence>
   	<persistence-unit name="H3T_Example">
		<name>H3T_Test</name>
		<jta-data-source>java:/DefaultDS</jta-data-source>
		<properties>
			<property name="hibernate.dialect" value="org.hibernate.dialect.HSQLDialect"/>
			<property name="hibernate.hbm2ddl.auto" value="create-drop"/>
			<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
			<property name="hibernate.connection.url">jdbc:hsqldb:mem:orders</property>
		</properties>
   	</persistence-unit>
</persistence>